
/* Overlay For Slider */
.overlay{
    filter: brightness(50%);
}

/* Section Margin */
.sectionY-margin{
    margin-top: 100px;
}
@media only screen and (min-width: 352px) and (max-width: 991px) {
    .sectionY-margin{
        margin-top: 0px;
    }
  }

/* Custom Button */
.custom-btn-color{
    background-color: #289BDE;
    color: #FFFFFF;
}
.custom-btn-color:hover{
    background-color: #FFFFFF;
    color: #289BDE;
}

/* Custom Explore Zone CSS */
.explore-zone-bg{
    background-color: #F4FAFD;
}
.common-margin{
    margin-top: 130px;
}

/* Admit Now Section Css */
.admit-sec-bg{
background-color: #289BDE;
}
.custom-admit-btn-color{
    background-color: #FFFFFF;
    color: #289BDE;
}
.custom-admit-btn-color:hover{
    background-color: #289BDE;
    color: #FFFFFF;
}

